/* your code here */
body {
    max-width: 100%;
    background-color: green;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
	max-width: 550px;
	margin: auto;
}
.product__photo {
    width: 70%;
    border-radius: 8px;
    overflow: hidden;
	margin-left: -60px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.photo-main {
    background-color: rgb(118, 206, 118);
    padding: 8px;
    color: #fff;
}
.photo-main img {
    width: 100%;
    height: 350px;
}
.controls {
    display: flex;
    justify-content: space-between;
}
.photo-album {
    margin-top: 30px;
}
.photo-album > ul {
    display: flex;
    justify-content: end;
    gap: 5px;
    padding: 0 10px;
}
.photo-album > ul > li {
    border: 1px solid;
}
li {
    list-style: none;
}


.title {
    padding-top: 20px;
}
.title * {
    margin: 0;
}
.title p {
    margin-top: 7px;
}

.price {
    color: red;
    margin-top: 30px;
}
.price span {
    font-size: 40px;
    margin-left: 10px;
}

.variant h3 {
    margin-top: 30px;
}
.variant ul {
    display: flex;
    gap: 10px;
}
.variant img {
    width: 50px;
}
.variant ul li:first-child img {
    border: 1px solid;
}


.description ul li {
    list-style: disc;
}
.add-to-cart-btn {
    padding: 10px 20px;
	margin-top: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px grey;
}